################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IntegrationTesting/FileContentIndex/a30ff4ce-3b49-4f9c-a89c-9eee4c30f342.vsidx
/.vs/IntegrationTesting/FileContentIndex/dbfbaf37-dde9-4320-80f2-1127cc4185d9.vsidx
