################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IntegrationTesting/FileContentIndex/a30ff4ce-3b49-4f9c-a89c-9eee4c30f342.vsidx
/.vs/IntegrationTesting/FileContentIndex/dbfbaf37-dde9-4320-80f2-1127cc4185d9.vsidx
/.vs/IntegrationTesting/FileContentIndex/9129bc8c-317e-45fd-9fad-8ce673524c5b.vsidx
/.vs/IntegrationTesting/FileContentIndex/2778f8f8-80d7-4045-b6fc-972d011baebd.vsidx
/.vs/IntegrationTesting/FileContentIndex/3e4d3ea6-a264-4aad-8ba7-8b12b385370d.vsidx
/.vs/IntegrationTesting/FileContentIndex/e47a8d94-0952-4365-a7c9-95bfd6047c7e.vsidx
/.vs/IntegrationTesting/FileContentIndex/33dcc612-c1c0-42cc-8c5d-e61d22fb96c8.vsidx
/.vs/IntegrationTesting/FileContentIndex/50903a4a-2f10-4e65-9738-db9a8a3abb5e.vsidx
/.vs/IntegrationTesting/FileContentIndex/57a2fafe-1679-4b11-b323-1abcfa8add6f.vsidx
/.vs/IntegrationTesting/FileContentIndex/e8496b19-500d-430a-83c9-c388f9a0d3da.vsidx
/.vs/IntegrationTesting/FileContentIndex/a3ac7815-6d9a-46a0-9b4a-d9e679575eda.vsidx
/.vs/IntegrationTesting/FileContentIndex/1e0a604d-4757-4035-91b5-c8816c05fa72.vsidx
/.vs/IntegrationTesting/FileContentIndex/31012cb7-a00f-4855-8ad1-98793c3d1338.vsidx
/.vs/IntegrationTesting/FileContentIndex/4dad8cd3-bd85-4d12-8e4e-3a1989b985ad.vsidx
/.vs/IntegrationTesting/FileContentIndex/92368781-499a-46b4-991c-17e9fa62950e.vsidx
/.vs/IntegrationTesting/FileContentIndex/d7ea3640-d5f5-4c34-95e9-60c084193639.vsidx
/.vs/IntegrationTesting/FileContentIndex/0c9640d5-852a-46fe-b0df-1787583084e6.vsidx
/.vs/IntegrationTesting/FileContentIndex/58400f05-e1fb-4f0b-85dc-621b38ad2922.vsidx
/.vs/IntegrationTesting/FileContentIndex/742b1127-c229-4ff0-83a7-6dc0f2a5f720.vsidx
/.vs/IntegrationTesting/FileContentIndex/8ea7c4e3-a20d-4c0b-92bb-36e2639b8766.vsidx
/.vs/IntegrationTesting/FileContentIndex/a7617ac6-d85f-4aba-bdba-aeb5420fa67e.vsidx
/.vs/IntegrationTesting/FileContentIndex/27830d7e-161d-4259-9fc2-e1cff2c6482b.vsidx
/.vs/IntegrationTesting/FileContentIndex/483cb776-0fa9-48b5-bb5b-f1f5184e93c0.vsidx
/.vs/IntegrationTesting/FileContentIndex/7f179a1a-446b-4567-bbda-248115af178a.vsidx
/.vs/IntegrationTesting/FileContentIndex/07779bf8-bdf1-4cf3-92cb-2955caecbb25.vsidx
/.vs/IntegrationTesting/FileContentIndex/56fff448-f75c-4c7a-98dc-8e60a42afc0f.vsidx
/.vs/IntegrationTesting/FileContentIndex/742dae96-44b6-4cfb-8eb6-46a2a5e9bd52.vsidx
/.vs/IntegrationTesting/FileContentIndex/a42a6dcf-95e7-40b9-8a27-60327c504bf2.vsidx
/.vs/IntegrationTesting/FileContentIndex/e85a5ea6-f59d-4336-a153-32c49587c76f.vsidx
/.vs/IntegrationTesting/FileContentIndex/5bf9ebe9-418d-450e-ac6b-e4af8eed0ac1.vsidx
/.vs/IntegrationTesting/FileContentIndex/adf189fd-d5af-4bd8-a3ce-f7e1c594e8b4.vsidx
/.vs/IntegrationTesting/FileContentIndex/eb186cef-17ec-4867-b64c-526e4f39cb74.vsidx
/.vs/IntegrationTesting/FileContentIndex/2066eaf4-6626-4c30-835a-ece86ab07809.vsidx
/.vs/IntegrationTesting/FileContentIndex/60f7633c-cae8-4ece-83d3-09b0f90df18e.vsidx
/.vs/IntegrationTesting/FileContentIndex/ca3908bd-20f4-4125-8dfe-5d03dfbb0d2f.vsidx
/.vs/IntegrationTesting/FileContentIndex/4d2bdd66-6b7d-4d2e-91e1-731a880373ba.vsidx
/.vs/IntegrationTesting/FileContentIndex/0b8ceaa7-b1d3-4c9d-91e8-779cc6815783.vsidx
/.vs/IntegrationTesting/FileContentIndex/6f478dac-ce0d-417f-94f5-c5af943b89d8.vsidx
/.vs/IntegrationTesting/FileContentIndex/42ced8e7-31a3-4848-9e56-c768aeaf4c1f.vsidx
/.vs/IntegrationTesting/FileContentIndex/4c695cae-6b03-44f5-b9a3-f1a08a7dfa9f.vsidx
/.vs/IntegrationTesting/FileContentIndex/a1749578-b789-450e-ac71-e3441ecc93c5.vsidx
/.vs/IntegrationTesting/FileContentIndex/dcbc52bc-afb3-4c6e-9d98-462ac6c07e0a.vsidx
/.vs/IntegrationTesting/FileContentIndex/e5edbef9-8722-4c8b-9f92-0ba8a60b74e1.vsidx
/.vs/IntegrationTesting/FileContentIndex/0f865ae1-6e78-44aa-abd8-131a7f0d9fe3.vsidx
/.vs/IntegrationTesting/FileContentIndex/6cda4d3d-7c87-4e06-a3f2-cb62c0331078.vsidx
/.vs/IntegrationTesting/FileContentIndex/96fcabd7-2e5b-48b0-888e-c1ed8fee5d66.vsidx
/.vs/IntegrationTesting/FileContentIndex/bfcb7b97-93a8-46f1-a114-5a3bfce94e93.vsidx
/.vs/IntegrationTesting/FileContentIndex/f325d2bf-cf17-489c-9848-e73199f2cd0b.vsidx
/.vs/IntegrationTesting/FileContentIndex/1510d5be-5d69-4fbe-946d-f753833f196e.vsidx
/.vs/IntegrationTesting/FileContentIndex/4ebb729f-7a5d-41c7-902a-0a91f803fa44.vsidx
/.vs/IntegrationTesting/FileContentIndex/72fe6e15-061f-46f6-b986-f14cd85ecfbe.vsidx
/.vs/IntegrationTesting/FileContentIndex/0fe7eb2b-a8e0-4327-802c-fc2951c2d78e.vsidx
/.vs/IntegrationTesting/FileContentIndex/d716cfe0-f096-4f7a-8eb4-598fae3ff24b.vsidx
/.vs/IntegrationTesting/FileContentIndex/27ec11ad-de89-4929-b912-6957e78f753f.vsidx
/.vs/IntegrationTesting/FileContentIndex/4f8bf8a2-a9ec-4834-ba00-a8e8ad648c87.vsidx
/.vs/IntegrationTesting/FileContentIndex/d2f15787-0c43-4d64-b118-c32b970fe1d1.vsidx
/.vs/IntegrationTesting/FileContentIndex/204811aa-8bd0-483e-8b0a-98caaf2ffc99.vsidx
/.vs/IntegrationTesting/FileContentIndex/2a02c833-a4f5-4138-b9f0-e0ce92cf9e7f.vsidx
/.vs/IntegrationTesting/FileContentIndex/80cfed3a-17fe-47ab-97c9-e39776439f17.vsidx
/.vs/IntegrationTesting/FileContentIndex/e9363493-05b3-463c-b542-80ed296285ca.vsidx
/.vs/IntegrationTesting/FileContentIndex/08346ca3-f1b7-40fb-b153-e88ecb87cffc.vsidx
/.vs/IntegrationTesting/FileContentIndex/4ca43b49-6e5a-426e-bc4b-ebf15ce43e47.vsidx
/.vs/IntegrationTesting/FileContentIndex/881eff09-1f96-4eee-9fb6-90d052518a08.vsidx
/.vs/IntegrationTesting/FileContentIndex/fe776e8d-40d9-4580-a9b2-eaa19619de80.vsidx
/.vs/IntegrationTesting/FileContentIndex/1aac20f0-f850-47a6-9963-ae91b1f6c859.vsidx
/.vs/IntegrationTesting/FileContentIndex/81ddc67b-c8cb-40f2-83a8-5fc062626147.vsidx
/.vs/IntegrationTesting/FileContentIndex/cacb3082-50e1-4f8d-bfb6-912c8f666015.vsidx
/.vs/IntegrationTesting/FileContentIndex/92221fbb-5594-4727-a059-dd3ea991926d.vsidx
/.vs/IntegrationTesting/FileContentIndex/bf80bab5-2827-4d96-91d8-73de61358dda.vsidx
/.vs/IntegrationTesting/FileContentIndex/f102fd7d-69f4-41eb-b561-3eacc9a9f6e6.vsidx
/.vs/IntegrationTesting/FileContentIndex/42aefa9b-08f6-44b7-bbe7-b2149c5ff886.vsidx
/.vs/IntegrationTesting/FileContentIndex/de43edff-3f50-42ec-8b02-09dd60ea5c2e.vsidx
/.vs/IntegrationTesting/FileContentIndex/e2441ab2-8e5f-43ef-bcfa-d5921ce693c8.vsidx
/.vs/IntegrationTesting/FileContentIndex/bf6b53cd-f1e8-4bc1-a069-453de7b0e4f1.vsidx
/.vs/IntegrationTesting/FileContentIndex/acc2aa33-a61d-4b4f-8dd7-a55a58e97d9e.vsidx
/.vs/IntegrationTesting/FileContentIndex/798b3c78-5f2a-4da8-8c37-d2e670e1ef2a.vsidx
/.vs/IntegrationTesting/FileContentIndex/fb8ec6c3-c6fc-4f61-9ee5-4b03a9d83b90.vsidx
